<div class="container mt-3">
    <div class="jumbotron">
        <h1 style="color:blue;">Ingrese sus datos para ser notificado</h1>
        <br>

        <form action="/set-correo" method="post">
            
            <div class="form-group">
                <label for="nombre"><b>Ingrese su mail</b></label>
                <input id="email" class="form-control" type="email" name="email">
            </div>
            
            <button class="btn btn-success mt-3 mb-5">Guardar Email</button>
        </form>
    </div>
</div>
